// run sass --watch index.scss index.css
@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@200;300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Tiro+Bangla&display=swap');

$black-color: #000;
$black-color-2: #252525;
$white-color: #fff;
$description-color: #999;
$primary-color: #ef3636;
$success-color: #339900;
$bg-color: #F5F5F5;

/* reset css */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
h1, h2, h3, h4, h5, h6, p {
    margin: 0;
}
a {
    text-decoration: none;
}
ol, ul {
    list-style-type: none;
    padding-left: 0;
    margin: 0;
}
img, picture {
    display: block;
    width: 100%;
}
html {
    scroll-behavior: smooth;
}
body {
    font-size: 62.5%;
    line-height: 1.5;
    font-family: 'Mukta', sans-serif;
    overflow-x: hidden;
    text-rendering: optimizeSpeed;
}

/* default css element */
.button, 
input[type="submit"] {
    min-width: 100px;
    padding: 10px 20px;
    border-radius: 6px;
    border: none;
}
.button:hover,
input[type="submit"]:hover {
    color: $white-color;
    background-color: $primary-color;
}
input[type="text"], 
textarea {
    font-size: 1.2rem;
    padding: 5px 10px;
    border: 1px solid $primary-color;
    outline: 1px solid transparent;
    border-radius: 4px;
}
.backTop {
    display: none;
    position: fixed;
    bottom: 4rem;
    right: -1rem;
    width: 100px;
    height: 30px;
    font-size: 1rem;
    border-radius: 6px;
    padding-top: 2px;
    text-align: center;
    transform: rotate(-90deg);
    color: #222;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    animation: move 2s linear infinite;
    z-index: 999;
    cursor: pointer;
}
.backTop.active {
    display: block;
    background-color: $white-color;
}
@keyframes move {
    0% {
        bottom: 4rem;
    } 
    50% {
        bottom: 3rem;
    }
    100% {
        bottom: 4rem;
    }
}

/* Header */
.header-wrapper {
    position: fixed;
    top: 0;
    left: 0px;
    right: 0;
    background-color: $white-color;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
    z-index: 98;
}
.header,
.menu, 
.menu-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header {
    padding: 1.6rem 0;
}
.logo {
    font-size: 2rem;
    font-weight: 800;
    font-family: 'Tiro Bangla', serif;
    color: $black-color-2;
}
.logo:hover {
    color: currentColor;
}
.menu {
    font-size: 1.2rem;
    font-weight: 500;
    text-transform: uppercase;
}
.menu-item {
    position: relative;
    margin-left: 2rem;
    &:hover .menu-sub {
        display: block;
    }
}
.menu-link {
    color: $black-color;
    &:hover {
        color: $primary-color;
    }
    &.active {
        color: $primary-color;
    }
}
.menu-sub {
    display: none;
    position: absolute;
    top: 90%;
    right: 0;
    min-width: max-content;
    padding: 1rem 2rem;
    border-radius: 4px;
    background-color: $white-color;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    z-index: 99;

    & li {
        margin-bottom: 0.5rem;
        color: $black-color-2;
    }
    & li a {
        color: $black-color-2;
        &:hover {
            color: $primary-color;
        }
    }
}
label[for="search"] {
    display: none;
    position: absolute;
    top: 110%;
    right: 0;
    background-color: $white-color;
    padding: 10px;
    border-radius: 4px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    z-index: 99;
    &.active {
        display: block;
    }
}
.wishlist,
.cart {
    display: block;
    color: $black-color;
    height: 24px;
    &:hover {
        color: $primary-color;
    }
}

/* Home */
.home-wrapper {
    min-height: 80vh;
    margin-top: 6rem;
    color: $white-color;
    background-color: $black-color;
}
.home {
    position: relative;
    width: 100%;
    height: 100%;
    min-height: 80vh;
    padding: 0 2rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    h1, p {
        margin-bottom: 1.2rem;
    }
    p {
        font-size: 1rem;
        color: $description-color;
    }
    .button {   
        padding: 5px 30px;
        font-size: 1rem;
        color: $white-color;
        background-color: $description-color;
    }
}
.home-slider-wrapper {
    position: absolute;
    right: 2rem;
    top: 50%;
    transform: translateY(-50%);
    width: 50%;
    height: 100%;
    display: flex;
}
.home-slider {
    position: relative;
    width: 100%;
    height: 100%;
    
    .slide-item {
        position: absolute;
        width: 300px;
    }
    .slide-item:nth-child(1) {
        bottom: 0;
        left: 10%;
        transform: scale(2);
        animation: move 4s linear infinite;
    }
    .slide-item:nth-child(2) {
        width: 300px;
        left: -20%;
        transform: rotate(10deg);
    }
    .slide-item:nth-child(3) {
        width: 300px;
        right: -20%;
    }
}
@keyframes move {
    50% {
        bottom: 10%;
    }
}

/* Category */
.category-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    min-height: 80vh;
    padding: 2rem 0;
}
.category-shape {
    position: absolute;
    top: -2rem;
    z-index: -1;
    svg {
        position: relative;
        display: block;
        width: calc(120% + 1.3px);
        height: 500px;
        transform: rotateY(180deg);
    }
}
.category {
    position: absolute;
    width: 100%;
    height: 100%;
    color: $primary-color;
    p {
        font-size: 1rem;
        color: $description-color;
        margin-bottom: 2rem;
    }
    .category-types {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .category-item {
        position: relative;
        flex: 0 0 30%;
        max-width: 30%;
        width: 100%;
        height: 350px;
        background-image: var(--image);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    }
    .category-item-txt {
        position: absolute;
        right: 2rem;
        top: 1rem;
        text-align: end;
        p {
            color: $white-color;
        }
    }
}

/* Product */ 
.product-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    min-height: 100vh;
    padding: 2rem 0;
    h2 {
        color: $primary-color;
    }
}
.product>.button {
    display: block;
    font-size: 1.2rem;
    margin: 2rem auto;
}
.productShow {
    display: flex;
    // align-items: flex-start;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin: 0 -8px;
    .product-item {
        flex: 0 0 25%;
        max-width: 25%;
        padding: 0 8px;
        margin: 1rem 0;
    }
    .product-image {
        width: 100%;
        height: auto;
        overflow: hidden;
    }
    .product-image:hover img{
        transform: scale(1.1);
    }
    .product-body {
        padding: 1rem 0;
    }
    .product-brand {
        color: $description-color;
    }
    .product-name {
        width: 100%;
        line-height: 1.5rem;
        height: 3rem;
        color: $black-color;
        font-weight: bold;
        text-transform: uppercase;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        text-overflow: ellipsis;
        overflow: hidden;
    }
    .product-price {
        font-size: 1.2rem;
        font-weight: 600;
        color: $primary-color;
        margin-top: 0.5rem;
    }
    .button {
        font-size: 1rem;
        color: $white-color;
        background-color: $black-color;
    }
    .button:hover {
        background-color: $primary-color;
    }
}

/* About */
.about-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    min-height: 80vh;
    padding: 2rem 0;
    .about-shape {
        position: absolute;
        left: 0;
        width: 100%;
        overflow: hidden;
        line-height: 0;
        transform: rotate(180deg);
        z-index: -1;
        svg {
            position: relative;
            display: block;
            width: calc(126% + 1.3px);
            height: 400px;
            transform: rotateY(180deg);
        }
    }
}
.about {
    position: relative;
    width: 100%;
    height: 100%;
    min-height: 80vh;
    &>h2 {
        color: $white-color;
        position: absolute;
        bottom: 30%;
        left: 50%;
        transform: translateX(-50%);
    }
}
.about-box {
    position: absolute;
    top: -5%;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    width: 100%;
    height: 300px;
    background-color: $bg-color;
    .about-box-img {
        flex: 0 0 50%;
        max-width: 50%;
        width: 100%;
        height: 100%;
        background-image: url(./source/images/about1.jpg);
        background-position: center;
        background-size: cover;
        overflow: hidden;
    }
    .about-box-desc {
        flex: 0 0 50%;
        max-width: 50%;
        padding: 2rem 1rem;
        h2 {
            color: $primary-color;
            font-weight: 700;
        }
        p {
            font-size: 1.2rem;
            color: $description-color;
        }
    }
}
.about-feedback {
    display: flex;
    position: absolute;
    bottom: 0%;
    left: 50%;
    transform: translateX(-50%);
    width: 80%;
    height: 150px;
    background-color: $bg-color;
}
.about-feedback-slider {
    position: relative;
    margin: auto;
    width: 100%;
    height: 100%;

    .about-feedback-item {
        display: none;
        width: 100%;
        height: 100%;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        font-size: 1.2rem;
        text-align: center;
        padding: 1rem 4rem;
        &.active {
            display: flex;
        }
    }
    .about-feedback-name {
        color: $primary-color;
        margin-top: 1rem;
        // position: absolute;
        // bottom: 10px;
    }
    .btn-prev,
    .btn-next {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        display: flex;
        text-align: center;
        border: none;
        background-color: transparent;
        span {
            display: block;
            margin: auto;
            font-size: 3rem;
            color: $description-color;
        }
        span:hover {
            color: $primary-color;
        }
    }
    .btn-prev {
        left: 0;
        
    }
    .btn-next {
        right: -10px;
    }
}

/* News */
.news-wrapper {
    width: 100%;
    height: 100%;
    min-height: 100vh;
    padding: 2rem 0;
}
.news {
    width: 100%;
    height: 100%;
    font-size: 1.2rem;
    p {
        color: $description-color;
    }
    .newsShow {
        display: flex;
        justify-content: center;
        margin-top: 2rem;
        transition: all .6s linear;
    }
    .pagination-circle {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        margin: 2rem auto;
        span {
            display: block;
            width: 10px;
            height: 10px;
            border-radius: 50%;
            margin: 0 1rem;
            background-color: $description-color;
        }
        span.active {
            background-color: $primary-color;
        }
    }
}
.post {
    flex: 0 0 30%;
    max-width: 30%;
    margin: 0 0.5rem;
    border-radius: 4px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    overflow: hidden;
    .post-image {
        width: 100%;
        min-height: 250px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    .post-body {
        padding: 1rem;
    }
    .post-time {
        font-size: 1.1rem;
        color: $description-color;
    }
    .post-name {
        color: $primary-color;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        text-overflow: ellipsis;
        overflow: hidden;
    }
    .post-link {
        display: flex;
        align-items: center;
        color: $black-color;
    }
}

/* register notification */
.register-wrapper {
    margin-top: 2rem;
    padding: 2rem 0;
    width: 100%;
    height: 100%;
    color: $white-color;
    background-color: $black-color;
}
.register {
    display: flex;
    align-items: center;
    &-left {
        flex: 30%;
        max-width: 30%;
        font-size: 1.2rem;
        .discount {
            color: $primary-color;
            font-weight: 700;
        }
    }
    &-right {
        flex: 70%;
        max-width: 70%;
        margin: auto;
        display: flex;
        input.email {
            flex: 1;
            font-size: 1rem;
            padding: 5px 10px;
            margin: 0 1rem;
            background-color: transparent;
            border-color: $primary-color;
            outline: 1px solid transparent;
            border-radius: 4px;
            &:focus {
                outline: 2px solid $primary-color;
            }
        }
    }
}

/* Footer */
.footer-wrapper {
    color: $white-color;
    background-color: $black-color;
    min-height: 40vh;
    padding: 2rem 0;
}
.footer {
    display: flex;
    padding-bottom: 2rem;
    border-bottom: 1px solid $primary-color;
}
.footer-col {
    flex: 0 0 25%;
    max-width: 25%;
    & p {
        color: $description-color;
        font-size: .9rem;
        padding-right: 1rem;
    }
    & h5 {
        color: $primary-color;
        text-transform: uppercase;
    }
    & ul {
        font-size: 1.2rem;
        margin: .2rem 0;
    }
    & ul li {
        display: flex;
        align-items: center;
        & span {
            padding-right: 5px;
        }
    }
}
.footer-social {
    display: flex;
    &-item {
        margin: .5rem;
    }
    &-link {
        color: $white-color;
        font-size: 2rem;
    }
    &-link:hover {
        color: $primary-color;
    }
}
.copyright {
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-transform: uppercase;
    font-size: 1.2rem;
    padding-top: 2rem;
}

/* Modal */
.modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, .5);
    display: none;
    align-items: center;
    justify-content: center;
    .modal-detail {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 80%;
        height: 90%;
        background-color: $white-color;
        border-radius: 6px;
        overflow: hidden;
    }
}
.modal-item-image {
    flex: 0 0 40%;
    max-width: 40%;
}
.modal-item-body {
    flex: 0 0 60%;
    max-width: 60%;
    padding: 2rem 1rem;
    .modal-item-name {

    }
    .modal-item-price {
        font-size: 1.2rem;
        font-weight: 700;
        color: $primary-color;
        padding: 10px 1rem;
        background-color: rgba(0, 0, 0, .05);
    }
    .modal-item-size {
        display: flex;
        align-items: center;
        padding: 1rem 0;
        li {
            font-size: 1rem;
            width: 30px;
            height: 25px;
            text-align: center;
            margin: 0 1rem;
            border: 1px solid $black-color;
        }
        li.select {
            color: $primary-color;
            border-width: 2px;
            border-color: $primary-color;
        }
        li:hover {
            color: $primary-color;
            border-width: 2px;
            border-color: $primary-color;
        }
    }
    .modal-item-options .button{
        font-size: 1.2rem;
        min-width: 200px;
        margin-right: 1rem;
    }
    .modal-item-desc {
        font-size: 1rem;
        padding-right: 1rem;
        margin: 2rem auto;
        text-align: start;
        word-spacing: 1px;
    }
}

/* Banner - Breadcrumb */
.breadcrumb-wrapper {
    background-color: $black-color-2;
    height: 100px;
}
.breadcrumb {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: $white-color;
    & ul {
        display: flex;
    }
    & ul li + li::before{
        content: "/\00a0";
        margin-left: 0.2rem;
    }
}

/* Product Page */
