@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@200;300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Tiro+Bangla&display=swap');
:root {
    --black-color: #000;
    --black-color-2: #252525;
    --white-color: #fff;
    --description-color: #999;
    --primary-color: #ef3636;
    --success-color: #339900;
}
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
}
body {
    width: 100vw;
    min-height: 100vh;
    font-family: 'Mukta', sans-serif;
    text-rendering: optimizeSpeed;
    line-height: 1.5;
    font-size: 62.5%;
    overflow-x: hidden;
}
ul, ol, p {
    list-style-type: none;
    margin: 0;
    padding-left: 0;
}
h1, h2 {
    margin: 0;
}
a {
    text-decoration: none;
}
img, picture {
    max-width: 100%;
    display: block;
}
.btn {
    position: relative;
    border: none;
    min-width: max-content;
    padding: 8px 16px;
}

.backTop {
    display: none;
    position: fixed;
    bottom: 4rem;
    right: -1rem;
    width: 100px;
    height: 30px;
    font-size: 1rem;
    border-radius: 6px;
    padding-top: 2px;
    text-align: center;
    transform: rotate(-90deg);
    color: #222;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    animation: move 2s linear infinite;
    z-index: 999;
    cursor: pointer;
}
.backTop.active {
    display: block;
    background-color: var(--white-color);
}
@keyframes move {
    0% {
        bottom: 4rem;
    } 
    50% {
        bottom: 3rem;
    }
    100% {
        bottom: 4rem;
    }
}

/* Header */
.header,
.menu, 
.menu-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header {
    padding: 1.6rem 0;
}
.logo {
    font-size: 2rem;
    font-weight: 800;
    font-family: 'Tiro Bangla', serif;
    color: var(--black-color-2);
}
.logo:hover {
    color: currentColor;
}

.menu {
    font-size: 1.2rem;
    font-weight: 500;
    text-transform: uppercase;
}
.menu-item {
    position: relative;
    margin-right: 2rem;
}
.menu-link {
    color: var(--black-color);
}
.menu-item:hover,
.menu-item.active,
.menu-link:hover {
    color: var(--primary-color);
}
.menu-item:hover .menu-sub {
    display: block;
}
.menu-sub {
    display: none;
    position: absolute;
    top: 90%;
    right: 0;
    min-width: max-content;
    padding: 1rem 2rem;
    border-radius: 4px;
    background-color: var(--white-color);
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    z-index: 99;
}
.menu-sub li {
    margin-bottom: 0.5rem;
    color: var(--black-color-2);
}
.menu-sub li a:hover {
    color: var(--primary-color);
}
.menu-sub li a {
    color: var(--black-color-2);
}

label[for="search"] {
    display: none;
    position: absolute;
    top: 110%;
    right: 0;
    background-color: var(--white-color);
    padding: 10px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    z-index: 10;
}
label[for="search"].active {
    display: inline-block;
}
.inputSearch {
    outline: none;
    padding: 5px 20px;
    border-radius: 4px;
}
.cart {
    display: block;
    color: var(--black-color);
    height: 24px;
}
.cart:hover {
    color: var(--primary-color);
}
/* ------------------ */


/* Home */
.home {
    background-color: var(--black-color);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 100%;
    height: 100%;
    min-height: 80vh;
}
.home-wrapper {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    min-height: 80vh;
    color: var(--white-color);
    overflow: hidden;
}
.home-left, 
.home-right {
    flex: 0 0 50%;
    max-width: 50%;
}
.home-left {
    padding-left: 3rem;
    padding-right: 5rem;
}
.home-left h1 {
    font-size: 4rem;
    font-weight: 800;
}
.home-left p {
    font-size: 1.2rem;
    color: #888;
}
.home-left .btn {
    color: var(--white-color);
    background-color: #888;
}
.home-left .btn:hover {
    background-color: var(--primary-color);
}
.sl-shoes {
    animation: moveShoe 2s infinite ease-in-out;
}
@keyframes moveShoe {
    0% {
        transform: translate(0);
    } 50% {
        transform: translateY(3rem);
    } 100% {
        transform: translateY(0);
    }
}
/* category */
.category {
    position: relative;
    max-width: 100%;
    min-height: 100vh;
}
.category-shape {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    z-index: -1;
}
.category-shape svg {
    position: relative;
    display: block;
    width: calc(120% + 1.3px);
    height: 500px;
    transform: rotateY(180deg);
}
.shape-fill {
    fill: var(--black-color);
}

.category-wrapper {
    position: absolute;
    width: 100%;
    max-width: 1200px;
    padding-top: 3rem;
}
.category-options {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
}
.category-item {
    position: relative;
    flex: 0 0 30%;
    max-width: 30%;
    width: 100%;
    height: auto;
    text-align: end;
    color: var(--white-color);
}

.category-image {
    width: 100%;
    height: auto;
}
.category-wrapper h2,
.category-item-text h2 {
    color: var(--primary-color);
    text-transform: uppercase;
}
.category-wrapper p {
    color: #888;
    font-size: 1.2rem;
}
.category-item-text {
    position: absolute;
    right: 10px;
    top: 10px;
}
.category-item-text p {
    font-size: 1.2rem;
    color: var(--white-color);
}

/* Products */
.product-wrapper {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin: 0 -8px;
}
.product-item {
    flex: 0 0 25%;
    max-width: 25%;
    padding: 0 8px;
    margin: 1rem auto;
    text-align: center;
}
.product-body .btn {
    color: var(--white-color);
    background-color: var(--black-color);
}
.product-brand {
    padding-top: 1rem;
    color: #999;
}
.product-name {
    height: 3rem;
    color: var(--black-color);
    font-weight: 700;
    text-transform: uppercase;
}
.product-price {
    font-size: 1.2rem;
    font-weight: 600;
    color: var(--primary-color);
}
.btn.showMore {
    display: block;
    margin: 2rem auto;
    text-align: center;
    color: var(--white-color);
    background-color: #666;
}

/* About */
.about {
    position: relative;
    width: 100%;
    min-height: 80vh;
    margin-top: 6rem;
}
.about-shape {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
    z-index: -1;
}
.about-shape svg {
    position: relative;
    display: block;
    width: calc(126% + 1.3px);
    height: 400px;
    transform: rotateY(180deg);
}
.about-shape .shape-fill {
    fill: var(--black-color);
}



.about-top {
    display: flex;
    align-items: center;
    background-color: #F5F5F5;
    height: 300px;
    margin-bottom: 4rem;
}
.about-top-image {
    flex: 0 0 50%;
    max-width: 50%;
    height: 100%;
    overflow: hidden;
    background-image: url(./source/images/about1.jpg);
    background-position: center;
    background-size: cover;
}
.about-top-desc {
    flex: 0 0 50%;
    max-width: 50%;
    padding: 0 1rem;
}
.about-top-desc h2, 
.user-name {
    color: var(--primary-color);
    text-transform: uppercase;
}
.about-top-desc p {
    font-size: 1.1rem;
    color: #888;
}
.about-top + h2 {
    margin: 2rem auto 1rem;
    color: var(--white-color);
    text-transform: uppercase;
    text-align: center;
}
.about-feedback {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 70%;
    height: 150px;
    text-align: center;
    padding: 1rem;
    color: #222;
    background-color: #F5F5F5;
}
.user-feedback {
    font-size: 1.1rem;
    padding: 0 2rem;
}

/* Latest news */
.latestnews {
    min-height: 60vh;
    margin-top: 6rem;
}
.latestnews-title {
    font-weight: 700;
}
.latestnews-title + p {
    font-size: 1.1rem;
    width: 50%;
    color: #999;
}
.latestnews-post {
    display: flex;
    align-items: center;
    justify-content: center;
}


.post {
    flex: 0 0 30%;
    max-width: 30%;
    text-align: center;
    overflow: hidden;
}
.post-image {
    width: 100%;
    min-height: 250px;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}
.post-time {
    font-size: 1.1rem;
    color: #888;
}
.post-name {
    color: var(--primary-color);
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    padding: 0 1rem;
}
.post-link {
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--black-color);
    font-size: 1.2rem;
}
.post-link:hover {
    color: var(--primary-color);
}
.pagination-circle {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 2rem auto;
    width: 100%;
}
.pagination-circle span {
    display: block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin: 0 1rem;
    background-color: #999;
}
span.active {
    background-color: var(--primary-color);
}

/* banner */
.banner {
    min-height: 30vh;
    width: 100%;
    padding: 2rem 0;
}
.banner-bg {
    position: relative;
    width: 100%;
    height: 25vh;
    background-image: url(./source/images/banner1.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.btn.btn-banner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: var(--black-color);
    background-color: var(--white-color);
    z-index: 99;
    display: flex;
    align-items: center;
    font-size: 1.6rem;
}
.btn.btn-banner:hover {
    background-color: var(--white-color);
}
.btn.btn-banner i {
    padding-left: .5rem;
}


/* -------------------- */
/* footer */
.footer-wrapper {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    color: var(--white-color);
    background-color: var(--black-color);
    min-height: 50vh;
    padding: 2rem 0;
}
.footer {
    width: 100%;
    border-bottom: 1px solid var(--primary-color);
    padding-bottom: 2rem;
}
.footer-top {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 4rem;
    margin-bottom: 2rem;
}
.footer-top-left {
    flex: 0 0 30%;
    max-width: 30%;
}
.footer-top-left h2 {
    text-transform: uppercase;
}
.footer-top-left p {
    font-size: .9rem;
    padding-right: 1rem;
}
.discount {
    color: var(--primary-color);
}
.footer-top-right {
    flex:  0 0 70%;
    max-width: 70%;
}
input.email {
    width: 80%;
    font-size: 1rem;
    padding: 5px 10px;
    background-color: transparent;
    border-color: var(--primary-color);
    border-radius: 4px;
}
input[type="submit"] {
    min-width: 100px;
    padding: 4px;
    font-size: 1.2rem;
    border-radius: 4px;
    color: var(--white-color);
    background-color: var(--primary-color);
}
/* ---------------- */

.footer {
    display: flex;
}
.footer-col {
    flex: 0 0 25%;
    max-width: 25%;
}
.footer-social {
    display: flex;
}
.social-item {
    margin: .5rem !important;
}
.social-link {
    color: var(--white-color);
    font-size: 2rem;
}
.social-link:hover {
    color: var(--primary-color);
}
.footer-col h5 {
    color: var(--primary-color);
    text-transform: uppercase;
}
.footer-col ul li {
    font-size: 1.2rem;
    margin: 0.2rem 0;
}
.footer-contact li {
    display: flex;
    align-items: center;
}
.footer-contact li span {
    padding-right: 5px;
}
.copyright {
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-transform: uppercase;
    font-size: 1.2rem;
    padding: 2rem 0 0;
}
/* ---------------------------- */




/* html Cart */
.checkout-banner {
    min-height: 20vh;
    height: 100%;
    width: 100%;
}
.checkout-banner-image {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: var(--white-color);
    background-color: var(--black-color-2);
    vertical-align: baseline;
}
.checkout-banner-image p {
    height: 100%;
    font-size: 2rem;
}
.checkout {
    min-height: 100vh;
}
.checkout-wrapper {
    display: flex;
}
.checkout-form {
    flex: 0 0 60%;
}
.input-control {
    display: flex;
    justify-content: space-between;
}
.group-input {
    margin-bottom: 1rem;
}
.group-input label {
    width: 100%;
    color: var(--primary-color);
}
.group-input input {
    font-size: 0.8rem;
    width: 100%;
    padding: 5px 10px;
    border: 1px solid var(--primary-color);
}
.group-input input:focus {
    outline: 1px solid var(--primary-color);
}
.input-control .group-input {
    flex: 0 0 48%;
    max-width: 48%;
}
.checkout-bill {
    flex: 0 0 40%;
    max-width: 40%;
    width: 80%;
    padding: 2rem 0 0 2rem;
}
.checkout-bill-amount {
    padding: 1rem 2rem;
    color: var(--white-color);
    background-color: var(--black-color-2);
    margin-bottom: 2rem;
    border-radius: 4px;
}
.checkout-bill-amount h5 {
    border-bottom: 1px solid #999;
}
.bill-product-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
}
.bill-product-price {
    color: var(--primary-color);
    font-weight: 700;
}
.check-bill-pay {
    display: flex;
    flex-direction: column;
    border-radius: 4px;
    color: var(--white-color);
    background-color: var(--black-color-2);
    margin-bottom: 2rem;
    padding: 2rem;
}
.check-bill-pay label {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
}
.check-bill-pay label p {
    padding-left: 1rem;
    font-size: 1.2rem;
}
.btn.pay {
    background-color: #999;
    color: var(--white-color);
    text-transform: uppercase;
}
.shipping,
.total {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 1rem;
    padding: .5rem 0;
}
.shipping {
    border-top: 1px solid #999;
}
.total-bill {
    color: var(--primary-color);
    font-size: 2rem;
}

/* Thanks */
.thanks {
    display: none;
    min-height: 40vh;
    padding-top: 4rem;
    text-align: center;
    color: var(--white-color);
    background-color: var(--black-color-2);
}
.thanks h1 {
    color: var(--primary-color);
}
.thanks p {
    margin-top: 2rem;
    font-size: 1rem;
    color: #888;
}
.btn.prevHome {
    display: none;
    width: 100px;
    margin: 2rem auto;
    color: var(--white-color);
    background-color: #999;

}
.btn.prevHome:hover {
    color: var(--white-color);
    background-color: var(--primary-color);
}

/* banner full width */
.banner-full {
    width: 100%;
    height: 200px;
    background-image: var(--i);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
}
.banner-title {
    display: flex;
    align-items: center;
    height: 100%;
    color: var(--white-color);
    font-size: 2rem;
    text-transform: uppercase;

}

/* cate blog page */
.category-blog {
    position: relative;
    min-height: 100vh;
}
.blog-post-lg {
    width: 50%;
    height: auto;
    margin: 2rem auto 1rem;
    border-radius: 6px;
    background-color: var(--white-color);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.blog-post-image {
    width: 100%;
    height: 400px;
    border-radius: 6px;
    background-image: url(./source/images/post6.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.blog-post-body {
    padding: 1rem 2rem 2rem;
}
.blog-post-time {
    font-size: 1.2rem;
    color: #999;
}
.blog-post-name {
    color: var(--primary-color);
}
.blog-post-desc {
    font-size: 1rem;
}


/* contact page */
.contact {
    position: relative;
    min-height: 100vh;
    padding-top: 6rem;
}
.contact-wrapper {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--white-color);
    background-color: var(--black-color-2);
}
.contact-address {
    flex: 0 0 30%;
    max-width: 30%;
    padding: 2rem;
}
.contact-address h4 {
    text-align: center;
    margin: 1rem 0;
}
.contact-address ul li {
    display: flex;
    align-items: center;
    font-size: 1rem;
    padding: 5px 0;
}
.contact-address ul li span {
    padding-right: 1rem;
}
.contact-map {
    flex: 0 0 70%;
    max-width: 70%;
    display: flex;
}
.contact-map iframe {
    margin: auto;
    width: 100%;
    height: 450px;
}

/* propose */
.propose {
    min-height: 60vh;
    background-color: #F5F5F5;
    display: flex;
    align-items: center;
}
.propose-wrapper {
    display: flex;
}
.propose-desc {
    flex: 0 0 50%;
    max-width: 50%;
}
.propose-desc h2 {
    color: var(--primary-color);
    text-transform: uppercase;
    margin-bottom: 1rem;
}   
.propose-desc p {
    font-size: 1rem;
    padding-right: 2rem;
}
.propose-form {
    flex: 0 0 50%;
    max-width: 50%;
    display: flex;
    flex-direction: column;
}
.propose-form input,
.propose-form textarea {
    font-size: 1.2rem;
    padding: 5px 10px;
    border: 1px solid var(--primary-color);
    outline: 1px solid transparent;
    margin-bottom: 1rem;
}
.propose-form input:focus,
.propose-form textarea:focus {
    outline-color: var(--primary-color);
}
.propose-form textarea {
    resize: none;

}
.propose-form .btn {
    width: 100px;
    color: var(--white-color);
    background-color: #999;
}
.propose-form .btn:hover {
    color: var(--white-color);
    background-color: var(--primary-color);
}

/* productPage */
.productPage {
    min-height: 100vh;
    margin: 2rem auto;
}
.productPage-wrapper {
    padding: 2rem 0;
}
.productPage-control {
    display: flex;
    align-items: center;
    font-size: 1.2rem;
}
.productPage-control span {
    margin-right: 1rem;
}
.icon-sort {
    position: relative;
    
}